*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:white;
    --main-color:#0ef;
}

body{
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}


.header{
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; */
}

.logo{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}

.main{
    padding-top: 70px;
}

.card{
    width: 450px;
    height: 464px;
    margin: auto;
    backdrop-filter: blur(6px) saturate(148%);
    -webkit-backdrop-filter: blur(6px) saturate(148%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
   
}


.input-icons i {
    position: absolute;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 20px;
    font-size: larger;
}
 
.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}
 
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
/* ------------------------ */
input{
    width:25rem;
    height: 2.5rem;
   
    border-radius: 2px;
    background: rgba(179, 210, 235, 0.666);
    
}
/* --------------------------- */

.formlog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}



.submit{
    height: 2.5rem;
   
    background: var(--main-color);
    border-radius: 2px;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg-color);
    font-weight: 600;
    transition: .2s ease;
    

}
.submit:hover{
    box-shadow: none;
    transform: scale(1);
    cursor: pointer;

}

.signup{
    margin-top: 20px;
    color: white;
}

.signup:hover{
    text-decoration: underline;
    cursor: pointer;
}